CorpusExplorer.Sdk.Extern.Xml/Exmaralda/Model/XSD/unicode-keyboard.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="unicode-keyboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="key"/>
      </xs:sequence>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="key">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="content"/>
        <xs:element minOccurs="0" ref="description"/>
        <xs:element minOccurs="0" ref="font"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="content" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="font">
    <xs:complexType>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="size" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="9"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="20"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="72"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="face" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="plain"/>
            <xs:enumeration value="bold"/>
            <xs:enumeration value="italic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
